# Day 5 EOD 

https://eds-217-essential-python.github.io/course-materials/eod-practice/eod-day5.html

9/9/24

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
url = "https://github.com/TheEconomist/banana-index-data/releases/download/1.0/bananaindex.csv"
df = pd.read_csv(url)

In [ ]:
# Display the first few rows:
print(df.head())

In [ ]:
# Display the dataframe info:
print(df.info())

# 1. Data Preparation

In [ ]:
# Set the index of the DataFrame to be the ‘entity’ column.

df = pd.read_csv(url, index_col = 'entity')
df.head()

In [ ]:
# Remove the ‘year’, ‘Banana values’, ‘type’, ‘Unnamed: 16’, and ‘Chart?’ columns.

df = df.drop(['year', 'Banana values', 'type', 'Unnamed: 16', 'Chart?'], axis = 'columns')

In [ ]:
# Display the first few rows of the modified DataFrame.
df.head()

# Exploring Banana Scores

In [ ]:
# For each of the pre-computed banana score columns (kg, calories, and protein), show the 10 highest-scoring food products.

print(df['Bananas index (kg)'].sort_values(ascending = False).head(10))

print(df['Bananas index (1000 kcalories)'].sort_values(ascending = False).head(10))

print(df['Bananas index (100g protein)'].sort_values(ascending = False).head(10))

In [ ]:
# Edit below so it gives the top 10 scores for any given column

def return_top_ten(df, column):
    "Return the 10 largest values in the column"
    return df[column].sort_values(ascending = False).head(10)

In [ ]:
# Use your function to display the results for each of the three Banana index columns.

banana_cols = ['Bananas index (kg)',
              'Bananas index (1000 kcalories)',
              'Bananas index (100g protein)']

for banana_cols in banana_cols:
    top_10 =  return_top_ten(df, banana_cols)
    print(f" Top 10 values {banana_cols}")
    print(top_10)

# Common High Scoring Foods

In [ ]:
# Identify which foods, if any, appear in the top 10 for all three banana score lists (kg, calories, and protein).

top_10_kg = set(return_top_ten(df, 'Bananas index (kg)').index)
top_10_kcalories = set(return_top_ten(df, 'Bananas index (1000 kcalories)').index)
top_10_protein = set(return_top_ten(df, 'Bananas index (100g protein)').index)

common_foods = top_10_kg.intersection(top_10_kcalories, top_10_protein)
print(common_foods)

# Land Use Analysis

In [ ]:
# Create a new column named ‘Bananas index (land use 1000 kcal)’, 
# calculating that food item’s use of land for every 1,000 kcal in comparison to a banana.

bananas_land_use = df.loc['Bananas', 'land_use_1000kcal']
print(bananas_land_use)

In [ ]:
df["Bananas index (land use 1000 kcal)"] = df['land_use_1000kcal'] / bananas_land_use
df.head()
df.describe()

In [ ]:
# Display the 10 foods with the highest land use score.
print(return_top_ten(df, 'Bananas index (land use 1000 kcal)'))

In [ ]:
# Compare this list with the previous top 10 lists. Are there any common foods?

list_sets = [set(return_top_ten(df, column).index) for column in df.filter(like='Bana')]
common_food = set.intersection(*list_sets)
print("\nFoods in top 10 for all four metrics:")
print(common_food)

# Cheese Analysis

In [ ]:
# Identify the type of cheese with the highest banana score per 1,000 kcal. 
# How does it compare to other cheeses in the dataset?

cheese_df = df.filter(like = "heese", axis = 'rows')

print(cheese_df['Bananas index (land use 1000 kcal)'].sort_values(ascending = False).head(1))